body {
    padding-top: 50px;
    padding-bottom: 20px;

}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.weather-div {
    border-style: groove;
    text-decoration-color:black;
    border-radius: 10px;
    background-color: #c5dafa;
}